/* Global & Container */
.container {
  min-height: 100svh;
  height: 100svh;
  background: #090b0d;
  color: var(--foreground);
  font-family: var(--font-geist-sans);
  overflow-x: hidden;
  overflow-y: hidden;
}
